<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{question}}</title>
    <style>
        div {
            white-space: pre-line;
        }
    </style>
  </head>
  <body>
        <div>
            {{question.id}} {{question.name}}
        </div>
        <div>
            {{question.statement}}
        </div>
        <div>
            {{question.sample_testcase}}
        </div>
        <div>
            {{question.sample_answer}}
        </div>
      <a href="{% url 'submit' question.id %}">Submit Solution</a>
      <ul>
          {% for i in submissions %}
          <li><a href="{% url 'submission' i.id %}"> {{i.id}}</li>
          {% endfor %}
      </ul>
  </body>
</html>